.block {
    stroke-width: 3px;
    stroke: lightblue;
    fill: white;
    pointer-events: all;
}

.block + foreignObject {
    overflow: hidden;
    pointer-events: none;
}

.block + foreignObject table {
    width: 100%;
    border-style: hidden;
}


.block + foreignObject .elementTitle {
    font-size: 20px;
    text-align: center;
}

.block + foreignObject td {
    border: 1px solid #ddd;
    padding: 4px;
}


.block + foreignObject td:nth-child(1) {
    color: orange;
    text-align: right;
    padding: 4px;
    width: 20px;
}