.block  {
    stroke-width: 3px;
    stroke: lightblue;
    fill: white;
    pointer-events: all;
}

.block .resizeRect{
    stroke: orange;
    fill: orange;
}

.block .linkIn {
    stroke: orange;
}

.block .linkOut .mouseover {
    stroke: orange;
}

.block > .linkOut text {
    stroke-width: 0px;
    fill: black;
    text-anchor: middle;
}

.block foreignObject {
    overflow: hidden;
    pointer-events: none;
}

.block foreignObject table {
    width: 100%;
    border-style: hidden;
}


.block foreignObject .elementTitle {
    font-size: 20px;
    text-align: center;
}

.block foreignObject .singleton {
    text-align: center;
}

.block foreignObject td {
    border: 1px solid #ddd;
    padding: 4px;
}


.block foreignObject td:nth-child(1) {
    color: orange;
    text-align: right;
    padding: 4px;
    width: 20px;
}