.diagram-svg {
    width: 100%;
    height: 99%;
}

g > .selected {
    stroke: orange;
}

.axis line {
    fill: none;
    stroke: #eee;
    shape-rendering: crispEdges;
    vector-effect: non-scaling-stroke;
}