.textbox {
    stroke-width: 1px;
    stroke: transparent;
    fill: transparent;
    pointer-events: all;
}

.textbox foreignObject {
    overflow: hidden;
    pointer-events: none;
}

.textbox foreignObject > pre {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}