/*| Navigation |*/

nav {
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, .1);
}

nav ul {
    list-style: none;
    position: relative;
    float: left;
    display: inline-table;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: arial, sans-serif;
}

nav ul li {
    float: left;
}

nav ul li:hover {
    background: #eee;
}

nav ul li:hover > ul {
    display: block;
}

/* nav ul li:hover > ul:active {
  display: none;
} */


nav ul li span {
    display: block;
    padding: 16px 16px;
    color: #222;
    font-size: .9em;
    letter-spacing: 1px;
    text-decoration: none;
    cursor: default;
}

nav ul li span[data-bind]  {
    cursor: pointer;
}

nav ul ul {
    display: none;
    background: #fff;
    position: absolute;
    top: 100%;
    box-shadow: -3px 3px 10px -2px rgba(0, 0, 0, .1);
    border: 1px solid rgba(0, 0, 0, .1);
}

nav ul ul li {
    float: none;
    position: relative;
}

nav ul ul ul {
    position: absolute;
    left: 100%;
    top: 0;
}

div.separator {
    margin: 4px 0px;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}

li input[type='checkbox'] {
    float: right;
    margin-left: 8px;
}

span.submenuSign {
    color: #aaa;
    float: right;
    padding: 0;
    margin-right: -12px;
}