html,
body {
    height: 100%;
    margin: 0
}

.vbox {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.vbox .row.header {
    flex: 0 1 auto;
    /* The above is shorthand for:
    flex-grow: 0,
    flex-shrink: 1,
    flex-basis: auto
    */
}

.vbox .row.content {
    flex: 1 1 auto;
}

.vbox .row.footer {
    flex: 0 1 20px;
}

.diagram-builder {
    height: 90vh;
    width: 100%;
}

input:focus, textarea:focus {
    outline: 1px solid lightskyblue;
}