#params {
    display: flex;
    flex-direction: column;
}

#params div.horizontal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#params .elementId {
    font-size: 24px;
    padding: 4px;
    border-bottom: 1px solid #ddd;
    width: 100%;
}

#params .elementComponent {
    padding: 0 12px 0 0;
    color: #aaa;
}
/*#params input {*/
    /*width: 50px;*/
    /*border: 1px solid #eee;*/
/*}*/


#params input {
    margin: 0;
    padding: 4px;
    width: 100%;
    border: 0;

}

#params textarea {
    margin: 0;
    padding: 4px;
    width: 100%;
    border: 0;
    max-height: 100px;
}

#params table {
    border-collapse: collapse;
    width: 100%;
    border-style: hidden;
}

#params td {
    border: 1px solid #ddd;

}

#params td:nth-child(1) {
    color: orange;
    text-align: right;
    padding: 4px;
    width: 20px;
}