#params {
    padding-right: 4px;
    background: whitesmoke;
}

#params div.horizontal {
    display: flex;
    flex-direction: row;
}

#params div.vertical, #params {
    display: flex;
    flex-direction: column;
}

#params input.elementId {
    margin: 0;
    font-size: 24px;
    padding: 4px;
    border: 0;
    border-bottom: 1px solid #ddd;
    width: 100%;
}

#params .elementComponent {
    color: #aaa;
    background: white;
    padding: 0 4px;
}
/*#params input {*/
    /*width: 50px;*/
    /*border: 1px solid #eee;*/
/*}*/


#paramsTable input {
    margin: 0;
    padding: 4px;
    width: 100%;
    border: 0;

}

#paramsTable textarea {
    margin: 0;
    padding: 4px;
    width: 100%;
    border: 0;
    max-height: 100px;
}

#paramsTable {
    border-collapse: collapse;
    width: 100%;
    border-style: hidden;
}

#paramsTable td {
    border: 1px solid #ddd;

}

#paramsTable td:nth-child(1) {
    color: orange;
    text-align: right;
    padding: 4px;
    width: 20px;
}

#paramsTable td:nth-child(2) {
    background: white;
}

#paramsFooter {
    align-self: flex-end;
     width: 100%;
     height: auto;
 }

#codeEditorDiv {
    border: 1px solid #ddd;
}