.link {

}

.link .line {
    fill: none;
    stroke: lightblue;
    stroke-width: 3px;
}

.link circle {
    fill: #fff;
    stroke: orange;
    cursor: move;
}

.link path.line {
    cursor: pointer;
}